.div-container {
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
}
.container {
  width: 85%;

  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5rem auto;
  margin: 5rem auto;
  background-color: grey;
  border-radius: 5%;
}

.input {
  font-size: 2rem;
  margin: 20px;
  background-color: whitesmoke;
  border: cornflowerblue;
  border-radius: 20px;
  padding: 1rem 1rem;
}

.select {
  font-size: 2rem;
  border-radius: 20px;
  outline-offset: none;
  outline: none;
  padding: 0rem 1rem;
}
